.bigBox {
  width: 100%;
  height: 3500px;
  /* width: 1800px; */
  /* border: 1px solid red; */
  margin: auto;
}
.smallBox {
  width: 100%;
  height: 430px;
  /* border: 1px solid red; */
  /* padding: 10px; */
  margin: 0px;
}
.middleBox {
  width: 100%;
  height: 600px;
  /* border: 1px solid red; */
  /* padding: 10px; */
  margin: 0px;
  display: grid;
  /* justify-content: center; */
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto auto auto;
}
.secondDiv {
  width: 100%;
  height: 680px;
  /* border: 1px solid red; */
  /* padding: 10px; */
  margin: 0px;
  display: grid;
  /* justify-content: center; */
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto;
  margin-top: 100px;
}
.secondDivChild {
  width: 100%;
  height: 530px;
  /* border: 1px solid red; */
  /* padding: 10px; */
  margin: 0px;
}
.imgTag {
  width: 100%;
  height: 420px;
}
.img2Tag {
  width: 100%;
}
p {
  /* text-align: center; */
}

a {
  color: black;
}
.bold {
  font-weight: bold;
  font-size: 20px;
}
span {
  font-size: 20px;
  margin-right: 20px;
}
.p1Tag {
  font-size: 20px;
}
.spclImg {
  width: 100%;
}

.thirdDiv {
  margin-top: 100px;
  /* border: 1px solid ; */
}
.redPTag {
  color: red;
  font-weight: bold;
}
.h1Black {
  background-color: black;
  width: 280px;
  color: white;
  margin: auto;
  margin-top: 50px;
}

.fourthDiv {
  width: 100%;
  height: 700px;
  /* border: 1px solid; */
  margin-top: 50px;
  display: grid;

  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
}
.fourthDivChild {
  grid-gap: 2%;
  width: 100%;
  height: 700px;
  /* border: 1px solid; */
  margin-right: 5%;
}
.spcl1Img {
  width: 100%;
}

#productbox {
  width: 100%;
  height: 3500px;
  /* border: 1px solid red; */
  /* background-color: green; */
  display: flex;
}
#leftBox {
  width: 20%;
  height: 100%;
  /* border: 1px solid brown; */
  /* background-color: yellow; */
}
#rightBox {
  width: 100%;
  height: 100%;
  /* border: 1px solid green; */
  /* background-color: red; */
  display: grid;
  grid-template-columns: auto auto auto auto;
}
#RightMainBox {
  width: 80%;
  height: 100%;
  /* border: 1px solid green; */
}
.imgClass {
  max-width: 280px;
  /* border: 1px solid; */
  margin-left: 20px;
}
.imgDivClass {
  /* max-width: 300px; */
  /* border: 1px solid; */
  /* margin-left: 20px; */
}
.p1Class {
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
}
.p2Class {
  font-size: 20px;
  margin-left: 20px;
}
.p3Class {
  font-weight: bold;
  font-size: 25px;
  margin-left: 20px;
}
.p4Class {
  font-weight: bold;
  font-size: 25px;
  margin-left: 20px;
}
.p5Class {
  font-weight: lighter;
  font-size: 20px;
  margin-left: 20px;
}
#filter {
  width: 100%;
  height: 1%;
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#sortByFeatured {
  width: 100%;
}
